{{! Fatumos page }}

<div class="fatumoscontainer">

  <div class="table">
    <div class="table-header" id="tablehead">TRACK MY EXERCISE ROUTINE</div>
    <div class="table-header">
      <div class="header__item"><a
          id="name"
          class="filter__link"
          href="#"
        >Exercise Name</a></div>
      <div class="header__item"><a
          id="wins"
          class="filter__link filter__link--number"
          href="#"
        >Workout Date</a></div>
      <div class="header__item"><a
          id="draws"
          class="filter__link filter__link--number"
          href="#"
        >Sets</a></div>
      <div class="header__item"><a
          id="losses"
          class="filter__link filter__link--number"
          href="#"
        >Reps</a></div>
      <div class="header__item"><a
          id="total"
          class="filter__link filter__link--number"
          href="#"
        >Weight</a></div>
    </div>
    <div class="table-content">
      <div class="table-row" id="row-1">
        <div class="table-data" id="name-1">Leg press</div>
        <div class="table-data" id="date-1">16/04/2022</div>
        <div class="table-data" id="sets-1">3</div>
        <div class="table-data" id="reps-1">2</div>
        <div class="table-data" id="weights-1">15</div>
      </div>
      <div class="table-row" id="row-2">
        <div class="table-data" id="name-2">Leg press</div>
        <div class="table-data" id="date-2">16/04/2022</div>
        <div class="table-data" id="sets-2">3</div>
        <div class="table-data" id="reps-2">2</div>
        <div class="table-data" id="weights-2">15</div>
      </div>
      <div class="table-row" id="row-3">
        <div class="table-data" id="name-3">Leg press</div>
        <div class="table-data" id="date-3">16/04/2022</div>
        <div class="table-data" id="sets-3">3</div>
        <div class="table-data" id="reps-3">2</div>
        <div class="table-data" id="weights-3">15</div>
      </div>
    </div>
  </div>
</div>

<section class="bg-one about section">
  <div class="container">
    <div class="row">
      <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
        <div class="border"></div>
      </div>
      <div class="block">
        <div class="icon-box">
          <i class="tf-tools"></i>
        </div>
        <div class="content text-center">
          <h3 class="ddd">New Workout!</h3>
          <p><a href="/createNewExercise">Click here to add a new workout</a></p>

        </div>
      </div>
    </div>
  </div>
</section>
<script src="/js/loadHistory.js"></script>