{{!-- Fatumos page --}}

<div class="fatumoscontainer">
      <div class="history-table">
        <div class="table-title" id="tablehead">TRACK MY EXERCISE ROUTINE</div>
        <div class="table-title">
          <div class="header-item">
            <a id="name" class="column-title" href="#">Exercise ID</a>
          </div>
          <div class="header-item">
            <a id="wins" class="column-title column-title--number" href="#"
              >Workout ID</a
            >
          </div>
          <div class="header-item">
            <a id="draws" class="column-title column-title--number" href="#"
              >Sets</a
            >
          </div>
          <div class="header-item">
            <a id="losses" class="column-title column-title--number" href="#"
              >Reps</a
            >
          </div>
          <div class="header-item">
            <a id="total" class="column-title column-title--number" href="#"
              >Weight</a
            >
          </div>
        </div>
        <div class="table-content">
          <div class="table_row">
            <div class="input_data">123</div>
            <div class="input_data">123</div>
            <div class="input_data">3</div>
            <div class="input_data">2</div>
            <div class="input_data">15</div>
          </div>
          <div class="table_row">
            <div class="input_data">456</div>
            <div class="input_data">456</div>
            <div class="input_data">6</div>
            <div class="input_data">5</div>
            <div class="input_data">15</div>
          </div>
          <div class="table_row">
            <div class="input_data">789</div>
            <div class="input_data">789</div>
            <div class="input_data">2</div>
            <div class="input_data">3</div>
            <div class="input_data">15</div>
          </div>
        </div>
      </div>
    </div>
    <div class="content text-center">
      <h3 class="ddd">New Workout!</h3>
      <p><a href="/newWorkout">Click here to add a new workout</a></p>
    </div>
  </body>
</html>
