
<link rel="stylesheet" href="/css/images.css"/>

  <h1>UPLOAD YOUR PICTURES AND TRACK YOUR PROGRESS</h1>
  <div>
<form id="imageForm">
    <input id="imageInput" type="file" accept="image/*">
    <button class="btn" type="submit">Upload</button>
</form>
<form id="downloadform">
     <input id="downInput" type="file" accept="image/*">
    <button class="btn" type="submit">downlaod</button>
</form>
<div class="container">
  <div class="row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>
  </div>
<script src="/js/s3images.js"></script>
<script src="/js/magic.js"></script>

{{!-- hn new --}}